@model Bus.DomainModels.Models.BusDetails
@{
    ViewData["Title"] = "Create";
}

<h1>Add Bus Details</h1>

@*<body style="
        background-image:url('/images/bus.jpg');
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center center">



    </body>*@
<body style="
    background-image:url('/images/pattern.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center">



</body>
<br />
<br />
<br />
<div class="form-row">
    <div style="font-family: -webkit-body;font-weight:bold;color:black" class="container">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form class="horizontal" asp-action="Create" method="post">
            @*<div class="form-group col-md-11">
                <label asp-for="BusId">Bus Id</label>

                <input style="width:189px;margin:18px;border-radius:100px" asp-for="BusId" />
            </div>*@

            <div class="form-group">
                <label asp-for="BusName">Bus Name</label>

                <input style="border-radius:100px" asp-for="BusName" />
                <span asp-validation-for="BusName" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Category">Category</label>
               
               
                <div>
                    <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList(typeof(Bus.DomainModels.Models.Category))"> </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Capacity">Capacity</label>

                <input style="border-radius:100px" asp-for="Capacity" />
                <span asp-validation-for="Capacity" class="text-danger"></span>

            </div>

            <div style="text-align:center" class="row">
                <input style="padding:10px;border-radius:10px;margin:20px" type="submit" class="btn btn-primary" value="Save" />


                <a style="padding:10px;border-radius:10px;margin:20px" class="btn btn-danger" asp-action="Index" asp-controller="Travel">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}