@model Bus.DomainModels.Models.BookedSeats
@{ ViewData["Title"] = "Book"; }

<body style="
    background-image: url('https://tse1.mm.bing.net/th?id=OIP.34MY20FWjl7BI2jBUtnk2AHaFj&pid=Api&P=0&w=227&h=171');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;">
</body>

<div class="card-body" style="height:500px;">
    <!-- For demo purpose -->

    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">

                        <!-- Credit card form tabs -->
                        <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                            <li class="nav-item"> <a data-toggle="pill" href="#credit-card" class="nav-link active "> <i class="fas fa-credit-card mr-2"></i> Credit Card </a> </li>
                            <li class="nav-item"> <a data-toggle="pill" href="#paypal" class="nav-link "> <i class="fab fa-paypal mr-2"></i> Paypal </a> </li>
                            <li class="nav-item"> <a data-toggle="pill" href="#net-banking" class="nav-link "> <i class="fas fa-mobile-alt mr-2"></i> Net Banking </a> </li>
                        </ul>
                    </div> <!-- End -->
                    <!-- Credit card form content -->
                    <div class="tab-content">
                        <!-- credit card info-->
                        <div id="credit-card" class="tab-pane fade show active pt-3">
                            <form role="form">
                                <div class="form-group">
                                    <label for="username">
                                        Card Owner
                                    </label> <input type="text" name="username" placeholder="Card Owner Name" required class="form-control ">
                                </div>
                                <div class="form-group">
                                    <label for="cardNumber">
                                        Card number
                                    </label>
                                    <div class="input-group">
                                        <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control" required>
                                        <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fab fa-cc-visa mx-1" style="color:navy"></i> <i class="fab fa-cc-mastercard mx-1" style="color:orangered"></i> <i class="fab fa-cc-amex mx-1" style="color:blue"></i> </span> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label>
                                                <span class="hidden-xs">
                                                    Expiration Date
                                                </span>
                                            </label>
                                            <div class="input-group"> <input type="number" placeholder="MM" name="" class="form-control" required> <input type="number" placeholder="YY" name="" class="form-control" required> </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group mb-4">
                                            <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                                CVV <i class="fa fa-question-circle d-inline"></i>
                                            </label> <input type="text" required class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer"> @*@<button type="button" class="subscribe btn btn-primary btn-block shadow-sm"> Confirm Payment </button>@*@
                            </form>
                        </div>
                    </div>
                    <!-- End -->
                    <!-- Paypal info -->
                    <div id="paypal" class="tab-pane fade pt-3">
                        <p> <a type="button" class="btn btn-primary " href="https://www.paypal.com/in/signin" style="margin-left:155px"><i class="fab fa-paypal mr-2"></i>Log into my Paypal</a></p>
                        <p class="text-muted"> Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
                    </div>
                    <!-- End -->
                    <!-- bank transfer info -->
                    <div id="net-banking" class="tab-pane fade pt-3">
                        <div class="form-group ">
                            <label for="Select Your Bank">
                                Select your Bank
                            </label> <select class="form-control" id="ccmonth">
                                <option value="" selected disabled>--Please select your Bank--</option>
                                <option>SBI</option>
                                <option>ICICI</option>
                                <option>HDFC</option>
                                <option>IDBI</option>
                                <option>Axis</option>

                            </select>
                            <div class="form-group">
                                <label for="accNumber">
                                    Account number
                                </label>
                                <div class="input-group">
                                    <input type="text" name="cardNumber" placeholder="Valid Account number" class="form-control " required>
                                    <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fas fa-university" style="color:deepskyblue"></i> </span> </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <p> <a href="/Customer/Checkout" type="button" class="btn btn-primary" style="margin-left: 155px; margin-top: -10px;"><i class="fas fa-mobile-alt mr-2"></i> Proceed Payment</a> </p>
                    </div>

                </div> <!-- End -->
                <!-- End -->
            </div>
        </div>

    </div>
</div>