

<style>

    #landingPage {
        background-image: url('https://thumbs.gfycat.com/AmazingUnselfishDogwoodclubgall-small.gif');
        background-size: 800px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .home-area {
        margin-top: 140px;
    }

    .home-text {
        position: absolute;
        padding-left: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 20px;
        background: rgba(255,255,255,0.6);
        box-shadow: 0 5px 25px rgba(0,0,0,0.8);
        margin-top: 30%;
        margin-left: 10%;
        margin-right: 10%;
        font-weight: 400;
    }

        .home-text h2 {
            color: black;
            font-size: 60px;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-family: Centaur;
        }

        .home-text a {
            margin-left: 50%;
            transform: translate(-50%);
            color: white;
            background: darkblue;
            font-size: 2em;
            padding: 10px 20px;
            font-weight: 600;
            letter-spacing: 2px;
            display: inline-block;
        }

            .home-text a:hover {
                background-color: darkgreen;
            }
</style>

<body id="landingPage">
    <div class="home-area">
        <div class="home-container">

            <div class="col-md-12 col-lg-offset-4">
                <h1 class="text-center" style="font-size: 30px; margin-top: -120px;font-size: 30px;">@ViewBag.CheckoutCompleteMessage!!</h1>
                <a asp-action="Index" asp-controller="Customer" class="btn btn-dark text-center" style="margin-left: 450px;margin-bottom: -600px;background: #fd7e14;">Continue Booking</a>
            </div>

        </div>
    </div>
</body>