
@{ ViewBag.Title = "Contact"; }
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<body style="
    background-image: url('https://tse1.mm.bing.net/th?id=OIP.34MY20FWjl7BI2jBUtnk2AHaFj&pid=Api&P=0&w=227&h=171');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;">
</body>
<h1 class="text-center">Contact Us</h1>

<div class="jumbotron">
    <h6>For any queries or issues related to booking ticket on PackYourBags, you can write to us on:  </h6>
    <br />
    <ul>
        <li>Gangarapu Shirisha - gangarapu.shirisha@zensar.com</li>
        <li>Shalini Poddar - shalini.poddar@zensar.com</li>
        <li>Pavani Veeramreddy - pavani.veeramreddy@zensar.com</li>
        <li>Swaroopa Lakshmi Kavuri - swaroopalakshmi.kavuri@zensar.com</li>
        <li>Nishigandha Patel - nishigandha.patel@zensar.com</li>
    </ul>
</div>

